---
import type { AlmanaxEntryBonus, AlmanaxEntryTribute } from '../types/types';
import { format } from 'date-fns';
import { numberWithDots, getKamaRewardColor } from '../utils/number';
import { Image } from 'astro:assets';

interface Props {
  date: string;
  kamaReward: number | string;
  class?: string;
  tribute: AlmanaxEntryTribute;
  bonus: AlmanaxEntryBonus;
  isMainCard?: boolean;
}

const {
  date,
  class: className,
  tribute,
  bonus,
  isMainCard,
  kamaReward,
} = Astro.props;
---

<div
  class={`relative flex flex-col items-center justify-center p-6 gap-4 rounded-lg shadow bg-zinc-800 ${className}`}
>
  <div class="absolute top-2 right-2">
    <div
      data-tippy-content={typeof kamaReward === 'number'
        ? `${numberWithDots(kamaReward)} kamas`
        : kamaReward}
      class={`trigger cursor-pointer p-1 rounded-full w-6 h-6 text-xs flex items-center justify-center ${getKamaRewardColor(kamaReward)}`}
    >
      <Image
        class="h-3 w-3"
        src="/kama.webp"
        alt="Kama"
        width={12}
        height={12}
      />
    </div>
  </div>
  <h5
    class={`mb-2 font-bold tracking-tight text-lime-600 ${isMainCard ? 'text-2xl' : 'text-md'}`}
  >
    {
      isMainCard
        ? `Today, ${format(new Date(date), 'dd/MM/yyyy')}`
        : format(new Date(date), 'EEE, dd/MM/yyyy')
    }
  </h5>
  <img
    src={isMainCard
      ? tribute?.item?.image_urls?.hd
      : tribute?.item?.image_urls?.icon}
    alt={date}
    class=`object-cover ${isMainCard ? 'h-28 w-28' : 'h-12 w-12'}`
  />
  <div class="text-center flex flex-col text-white align-center items-center">
    <span>{bonus?.type?.name}</span>
    <div class="border-t w-1/2 border-lime-600 my-2"></div>
    <p class="text-white font-semibold">
      {tribute.item?.name} x{tribute.quantity}
    </p>
    {isMainCard && <p class="mt-4">{bonus?.description}</p>}
  </div>
</div>

<script>
  import tippy from 'tippy.js';

  tippy('.trigger', {
    placement: 'left',
  });
</script>
